body {
    background-color: beige;
    text-align: center;
}

.title {
    margin: 5px auto;
}

.level {
    display: inline-block;
    margin: 5px auto;
}

.choice {
    margin: 5px auto;
}

.counter {
    display: inline-block;
    margin: 0 20px;
}

table {
    user-select: none;
    border: solid 4px;
    margin: auto;

    /* height: 350px;
    width: 350px; */
}
td {
    vertical-align: middle;
    border: solid 2px;
    padding: 0%;
    width: 20px;
    height: 20px;
    text-align: center;

    /* max-width: 20px;
    min-width: 20px;
    max-height: 20px;
    min-height: 20px; */
}
.cell {
    /* display: table-cell; */
    display: block;
    margin: auto;
    height: 80%;
    width: 80%;
}
.flag-img {
    display: block;
    width: 100%;
    /* margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%; */
}
.mine-img {
    display: block;
    width: 100%;
    /* margin-top: 30%;
    margin-left: 15%;
    margin-right: 5%;
    margin-bottom: 5%; */
} 

.show {
    opacity: 1;
    font-weight: bold;
    
}

.hide {
    opacity: 0;
}
